*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.btn{
        font-size: 16px;
        font-weight: 600;
        background-color: #469165;
        color: white;
        padding: 12px 16px;
        border: none;
        border-radius: 4px;
         font-family: 'Inter', sans-serif;
    }
header{
    background-color: rgb(255, 255, 255);
   width: 100%;
}
.logo{
    width: 139px;
    height: 60px;
}
nav{
  font-family: 'Inter', sans-serif;
  max-width: 1360px;
  margin: 0 auto;
  padding: 16px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
   nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
   }
   nav .menu a{
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
   }
   .roundlogo{
    width: 16px;
    height: 16px;
   }
.titlebox{
    display: inline-flex;
    gap: 6px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    padding: 8px 12px;
    border-radius: 100px;
    font-family: 'Inter', sans-serif;
    color:#30B868; ;
}
#banner{
    font-family: 'Inter', sans-serif;
    border: 1px solid blue;
background-image: url("../images/banner.png");
background-size: cover;
  background-position: center;
 
 
}
.banner-content{
    
     text-align: center;
   padding-top: 112px;
   padding-bottom: 178px;
   

}
.banner-content h1{
    font-size: 72px;
    color: rgb(255, 255, 255);
    padding-top: 16px;
    line-height: 84px;   

}
.banner-content h1 span{
   color: #30B868;
}
.banner-content p{
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding-top: 16px;
    line-height: 30px;
 font-weight: 300;
 padding-bottom: 32px;
 
}
.banner-content .button {
  display: flex;
  justify-content: center;
  gap: 16px;
  
}
.banner-content .button .two {
 background-color: transparent;
 font-size: 16px;
 font-weight: 600;
 color: white;
padding: 12px 16px;
border: 1px solid white;
border-radius: 4px;
 font-family: 'Inter', sans-serif;
}

#card-section .cardhead h1{
     
  padding-top: 41px;
  color: #001931;
  font-size: 48px ;
  text-align: center;
  padding-bottom: 16px;
  font-family: 'Inter', sans-serif;
}
#card-section .cardhead h4{

  color: #627382;
  font-size: 16px ;
  text-align: center;
   font-weight: 300;
   font-family: 'Inter', sans-serif;
   padding-bottom: 44px;
}
.card{
    width: 322px;
    text-align: center;
    box-shadow: 0 0 17px rgba(144, 143, 143, 0.2);

}
.card img{
    padding-top: 68px;
    padding-bottom: 16px;
}
.card h3{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
      color: #001931;
      padding-bottom: 16px;
}
.card p{
    font-size: 16px;
     color: #627382;
         font-family: 'Inter', sans-serif;
         padding-bottom: 69px;
         line-height: 20px;
}
.card-container{
    display: flex;
    gap: 24px;
     justify-content: center; 
     flex-wrap: wrap; 
     padding-bottom: 72px;

}
#herobaner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-family: 'Inter', sans-serif;
    padding-bottom: 120px;
}
 #herobaner .one{
    display: flex;
    gap: 6px;
    font-size: 16;
    font-weight: 500;
    
}
 #herobaner .col{
    display: flex;
   flex-direction: column;
    gap: 16px; 
}
 #herobaner .hero-content h4{
   font-size: 16px;
   font-weight: 500;
   color: #469165;
   padding-bottom: 16px;
}
 #herobaner .hero-content h1{
   font-size: 48px;
   font-weight: 700;
   color: #001931;;
   padding-bottom: 16px;
 }
  #herobaner .hero-content p{
    font-size: 16px;
     color: #627382;
    line-height: 20px;
      padding-bottom: 40px;
  }